html,
body {
	margin: 0;
	padding: 0;
}
main {
	font-family: sans-serif;
}

#current-count {
	text-align: center;
	font-size: 10em;
	margin: 0;
}

.buttons-container {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 5px 10px;
	font-size: 20px;
	border: 1px solid #000000;
	border-radius: 5px;
	background-color: #8db8f9;
	cursor: pointer;
	gap: 5px;
	color: white;
	transition: background-color 250ms;
}

.button:hover {
	background-color: #0f47ca;
}
